.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Df - Bellas Artes
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/ba') Inicio
            li
              a(href='/ba_historia') Historia
            li
              a(href='/ba_visita') Visita
            li
              a(href='/ba_localizacion') Localización