.container
  .row
    .col-lg-12
      .col-md-3
        ul.list-unstyled
          li
            h4 Bellas Artes
            li
              li
                a(href='/ba') Inicio
              li Historia
              li Visita
              li Localizaci贸n
      .col-md-3
        ul.list-unstyled
          li
            h4  Monumento a la Revoluci贸n
            li
              li
                a(href='/mr') Inicio
              li
                a(href='/mr_historia') Historia
              li
                a(href='/mr_visita') Visita
              li
                a(href='/mr_localizacion') Localizaci贸n
      .col-md-3
        ul.list-unstyled
          li
            h4 Torre Latinoamericana
            li
              li
                a(href='/tl') Inicio
              li Historia
              li Visita
              li Localizaci贸n
      .col-md-3
        img.img-responsive.est( src = 'images/est.jpg' )
    .row
      .col-lg-12
        .col-md-8
          a(href='/') Inicio
          a(href='/contacto') &nbsp;Contacto 
          a(href='/nosotros') &nbsp;Sobre nosotros