.container
  .row
    .col-lg-12
      .col-md-4
        ul.list-unstyled
          li
            h4 Bellas Artes
            li
              li
                a(href='/ba') Inicio
              li
                a(href='/ba_historia') Historia
              li
                a(href='/ba_visita') Visita
              li
                a(href='/ba_localizacion') Localizaci贸n
      .col-md-4
        ul.list-unstyled
          li
            h4  Monumento a la Revoluci贸n
            li
              li
                a(href='/mr') Inicio
              li
                a(href='/mr_historia') Historia
              li
                a(href='/mr_visita') Visita
              li
                a(href='/mr_localizacion') Localizaci贸n
      .col-md-4
        ul.list-unstyled
          li
            h4 Torre Latinoamericana
            li
              li
                a(href='/tl') Inicio
              li
                a(href='/tl_historia') Historia
              li
                a(href='/tl_visita') Visita
              li
                a(href='/tl_localizacion') Localizaci贸n
    .row
      .col-lg-12
        .col-md-8
          a(href='/contacto') Contacto 
          a(href='/nosotros') &nbsp;Sobre nosotros