extends layout

block content

  .jumbotron.text-center.roflolmao
    .rofl
      img( src = 'images/ipn.png', width = 150, height = 250 )
      p.lol

  .col-md-4
    .fotos-lol
      img.fotos.img-thumbnail( src = 'images/raul.jpg' )
    .jumbotron.text-center
      h3 Raúl Herrera Rosas
      p Soy un chico inteligente y creativo, vivo preparado para cualquier reto. Me encanta el café cargado.
  .col-md-4
    .fotos-lol
      img.fotos.img-thumbnail( src = 'images/dudette.jpg' )
    .jumbotron.text-center
      h3 Brenda Guadalupe Herrera Uribe
      p Soy una chica competitiva y muy audaz. Me gustan todo tipo de retos.
  .col-md-4
    .fotos-lol
      img.fotos.img-thumbnail( src = 'images/dude.jpg' )
    .jumbotron.text-center
      h3 Jorge Omar Méndez Ávalos 
      p Soy un alumno de la Est y también extrovertido, se me facilita transmitir la información necesaria.