extends layout

block content
  include tl-navbar

  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner
      .item.active
        img(src = 'images/tl3.jpg', 
          alt = 'First slide')
        .container
          .carousel-caption.ghost
      .item
        img(src = 'images/tl2.jpg', 
          alt='Second slide')
        .container
          .carousel-caption
      .item
        img( src = 'images/tl1.jpg', 
          alt='Second slide')
        .container
          .carousel-caption
    a.left.carousel-control(href='#myCarousel', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#myCarousel', data-slide='next')
      span.glyphicon.glyphicon-chevron-right

block custom-scripts
  script(src='/javascripts/holder.js')