extends layout

block custom-stylesheets
  link(rel='stylesheet', type='text/css', href='stylesheets/own/panel-tabs.css')

block content
  include tl-navbar

  br
  br
  br
  br
  .jumbotron.text-center
    h1 Visita la página oficial
    h4
      a( href = 'www.torrelatino.com' ) www.torrelatino.com